$primary-color: #D80669;
$primary-color-dark: darken($primary-color, 5%);
$secondary-color: #ee645c;

// $secondary-color: #8B008B;
$dark-color: #404040;
$light-gray: #AAAAAA;
$background-gray: #f2f2f2;
