
# Backend #
target/
.settings/
.classpath
.project
*.jar
*.war
classads-service/classads-service.log
classadsresponse-service/classadsresponse-service.log
search-service/search-service.log
bin/

classads-service/META-INF
classadsresponse-service/META-INF
search-service/META-INF


# Frontend #
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
